<div class="container"><p></p>
  <div class="well">
    <%= link_to "New Customer", new_customer_path, remote: true, class: "btn btn-primary" %>
    <%= render 'searchbar/searchCustomers' %>
  </div>
  <div class="new-customer"></div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer name</th>
        <th>Username</th>
        <th>Registration date</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Gender</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="customer-index">
      <%= render "index" %>
    </tbody>
  </table>
<div id="customer-modal" class="modal fade"></div>

<%= will_paginate @customers, renderer: BootstrapPagination::Rails %>

</div>
