<br><br>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <p><h4> Editing Appointment <h4></p>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                  <p>Appointment Id: <%= @appointment.id %></p>
                </div>
            </form>
        </div>
    </div>
</nav>

<%= render 'form' %>

<div class="container" style="height:200px;"></div>
</div>
