<br><br>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <p><h4> New Product <h4></p>
      </ul>
</nav>
<%= render 'form' %>

<div class="container" style="height:200px;"></div>
</div>
